body {
  background-color: lightblue;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
}

h1 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 90;
  letter-spacing: 3px;
  font-size: 60px;
}

h2 {
   color: darkcyan;
  font-family: Helvetica;
  font-weight: 90;
  letter-spacing: 3px;
  font-size: 30px;
}

h3 {
 color: white;
  font-family: Helvetica;
  font-weight: 90;
  letter-spacing: 3px;
  font-size: 50px;
}

a {
  text-decoration: none;
  color: darkslateblue;
  font-weight: bolder;
  font-size: 16px;
}
a:hover {
 color: darkgrey;
}


/* Custom design with class */
.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width:  760px) {
  .container {
    width: 600px;
  }
}


@media (max-width:  500px) {
  .container {
    width: 400px;
  }
}


.card-lightgrey {
  background-color: lightgrey;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 5px;
  margin: 20px 0px;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
  height: 200px;
}

.btn-blue {
  background-color: darkcyan;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
display: inline;
padding: 10px;
}

.list-inline i {
  font-size: 40px;
  color: rgb(100, 100, 100);
}

.list-inline i:hover {
  color: black;
}

#introduction p {
  margin-bottom: 40px;
}












